/*
styles.scss serves for styling content globally
Also can use variables
*/

@use "abstracts/mixins";

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background: var(--color-orange-50);
    @include mixins.custom-scrollbar()
  }

  page {
    & > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-primary);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  a {
    text-decoration: none;
  }

  p,
  span,
  a {
    font-family: var(--font-secondary);
  }

  .page > p {
    margin: 1em 0;
  }
}
