// secondary colors
$green-100: #FCFFEE;
$green-200: #EDF6C5;
$green-300: #C7D978;
$green-400: #B2C851;
$green-500: #92A92C;
$green-600: #738815;
$green-700: #5B6C0F;
$green-800: #3F4B07;
$green-900: #252D01;

// primary colors
$orange-100: #FFF9F3;
$orange-150: #FFF2E5;
$orange-200: #FFE7D2;
$orange-300: #FFC793;
$orange-400: #FFA859;
$orange-500: #FD8D27;
$orange-600: #D16B0D;
$orange-700: #934A07;
$orange-800: #5C2E03;
$orange-900: #2F1701;

// grayscale
$gray-200: #E0E0E0;
$gray-300: #C0C0C0;
$gray-400: #A0A0A0;
$gray-500: #969696;
$gray-600: #808080;
$gray-700: #565656;
$gray-800: #404040;
$gray-900: #202020;
$white: #FFFFFF;
$black: #000000;

// theme-colors
$primary: $orange-500;
$secondary: $green-500;
$orange-focus: #FD6B15;
$dark: $gray-900;
