@use "colors" as *;

@mixin custom-scrollbar(
  $width: 10px,
  $border-radius: 4px,
  $thumb-color: $green-600,
  $track-color: $orange-100
) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    width: $width;
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    width: $width;
    background-color: $thumb-color;
    border-radius: $border-radius;

    &:hover {
      background-color: $green-800;
    }
  }

  ::-webkit-scrollbar-corner {
    background: $track-color;
  }
}
